html,
body {
    height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    font-family: Typo Light;

}

.period {
    font-family: "Arial Rounded ";
}
@font-face{
    font-family: 'Typo Light';
    src: url('TypoSlab_light_demo.otf');

}

@font-face{
    font-family: 'Typo';
    src: url('TypoSlab_demo.otf');

}

@font-face{
    font-family: 'Typo Bold';
    src: url('TypoSlab_bold_demo.otf');

}

@font-face{
    font-family: 'St Marie';
    src: url('StMarie-Thin.otf');

}


.navbar-custom {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}



.navbar-brand {
    height: 85px;
}

.navbar-nav li {

    line-height: 0px;
}


.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
    border-bottom: 2px solid #ecf0f1;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}



.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    border-bottom: 2px solid #ecf0f1;
    background-color: transparent;
    color: white;

}

.navbar-custom .navbar-toggle {
    background-color:transparent;
    border-width:1px;
    border-color: white;
}
.navbar-custom .icon-bar {
    background-color:white;
}



#about2 {
    background: #222 url("bg2.png") center center no-repeat;
    background-size: cover;
    color: white;
    height: 250px;
    text-align: center;
    display: flex;
    align-items: center;

}
#about3 {
       background-color: #e7e8e8;

       height: 680px;
   }

#about4 {
    background: #222 url("map.png") center center no-repeat;
    background-size: cover;
    color: white;
    height: 500px;
    text-align: center;
    display: flex;
    align-items: center;
}

#about5 {
    background-color: white;
    width: 100%;
    height: 610px;
}


.see {
    background-color: transparent;
    border:1px white solid;
    padding: 5px 25px 5px 25px;

}

/* portrait iphone 4  */
@media  (max-width: 330px)  and (orientation: portrait) {

    .about1-text h1{
        text-align: center;
        font-size: 2em;
        margin-top: 100px;
    }

    .about1-text p {
        text-align: center;

    }

    #cover {
        background: #222 url("bg.png") center center no-repeat;
        background-size: cover;
        color: white;
        height: 100%;

        text-align: center;
        display: flex;
        align-items: center;
    }

    #cover img {
        width: 20%;
        height: auto;
        margin-top: 30px;


    }

}


/* Landscape iphone 4*/
@media  (min-width: 450px) and (max-width: 480px) and (orientation: landscape) {

    .about1-text h1{
        text-align: center;
        font-size: 2em;
        margin-top: 75px;
    }

    .about1-text p {
        text-align: center;
    }

    #cover {
        background: #222 url("bg.png") center center no-repeat;
        background-size: cover;
        color: white;
        height: 100%;

        text-align: center;
        display: flex;
        align-items: center;
    }


    .navbar-custom .navbar-nav > li > a {
        font-family: "Typo Light";
        font-size:20px;
        color:white;
        text-align: center;

    }

    .navbar-custom {
        background-color: #9BC2E6;
        color:white;
        border-radius:0;

    }
    .navbar-custom .navbar-toggle {
        margin-top: 28px;
    }


    #cover img {
        display: none;


    }
}

/* portrait iphone 5  */
@media  (min-width: 300px) and (max-width: 350px) and (orientation: portrait) {

    .about1-text h1{
        text-align: center;
        font-size: 2em;
        margin-top: 100px;
    }

    .about1-text p {
        text-align: center;

    }

    #cover {
        background: #222 url("bg.png") center center no-repeat;
        background-size: cover;
        color: white;
        height: 100%;

        text-align: center;
        display: flex;
        align-items: center;
    }


    .navbar-custom .navbar-nav > li > a {
        font-family: "Typo Light";
        font-size:20px;
        color:white;
        text-align: center;

    }

    .navbar-custom {
        background-color: transparent;
        color:white;
        border-radius:0;

    }
    .navbar-custom .navbar-toggle {
        margin-top: 28px;
    }


    #cover img {
        display: none;


    }

    #touch {
        height: 100%;
        width: 150px;
        margin-left:-20px;


    }

    #touch p {
        font-size: 14px;
    }

    #touch h2 {
        font-size: 1.8em;
        margin-top: -10px;
    }

}

/* Landscape iphone 5*/
@media  (min-width: 500px) and (max-width: 590px) and (orientation: landscape) {
    .about1-text h1{
        text-align: left;
        font-size: 1.5em;
        margin-top: 75px;
        margin-left: 10px;
    }

    .about1-text p {
        text-align: left;
        margin-left: 10px;
    }

    #cover {
        background: #222 url("bg.png") center center no-repeat;
        background-size: cover;
        color: white;
        height: 100%;

        text-align: center;
        display: flex;
        align-items: center;
    }


    .navbar-custom .navbar-nav > li > a {
        font-family: "Typo Light";
        font-size:20px;
        color:white;
        text-align: center;

    }

    .navbar-custom {
        background-color: #9BC2E6;
        color:white;
        border-radius:0;

    }
    .navbar-custom .navbar-toggle {
        margin-top: 28px;
    }


    #cover img {
        width: 70%;
        height: auto;
        margin-top: 25%;

    }

}

/* portrait iphone 6  */
@media  (min-width: 360px) and (max-width: 520px) and (orientation: portrait) {

    .about1-text h1{
        text-align: center;
        font-size: 2.2em;
        margin-top: 100px;
    }

    .about1-text p {
        text-align: center;

    }


    #cover {
        background: #222 url("bg.png") center center no-repeat;
        background-size: cover;
        color: white;
        height: 100%;

        text-align: center;
        display: flex;
        align-items: center;
    }


    .navbar-custom .navbar-nav > li > a {
        font-family: "Typo Light";
        font-size:20px;
        color:white;
        text-align: center;

    }

    .navbar-custom {
        background-color: transparent;
        color:white;
        border-radius:0;

    }
    .navbar-custom .navbar-toggle {
        margin-top: 28px;
    }


    #cover img {
        width: 60%;
        height: auto;
    }

    #touch {
        height: 100%;
        width: 150px;



    }

    #touch p {
    font-size: 14px;
    }

    #touch h2 {
        font-size: 1.8em;
        margin-top: -10px;
    }

}

/* Landscape iphone 6 and portrait tablets */
@media  (min-width: 660px) and (max-width: 740px) and (orientation: landscape) {

    .about1-text h1{
        text-align: left;
        font-size: 2em;
        margin-top: 110px;
        margin-left: 10px;
    }

    .about1-text p {
        text-align: left;
        margin-left: 10px;
    }

    #cover {
        background: #222 url("bg.png") center center no-repeat;
        background-size: cover;
        color: white;
        height: 100%;

        text-align: center;
        display: flex;
        align-items: center;
    }


    .navbar-custom .navbar-nav > li > a {
        font-family: "Typo Light";
        font-size:20px;
        color:white;
        text-align: center;

    }

    .navbar-custom {
        background-color: transparent;
        color:white;
        border-radius:0;

    }
    .navbar-custom .navbar-toggle {
        margin-top: 28px;
    }

    #cover img {
        width: 70%;
        height: auto;
        margin-top: 25%;

    }

    #touch {
        height: 100%;
        width: 100%;

    }

}

/* Portrait tablets and small desktops */
@media (min-width: 600px) and (max-width: 991px) and (orientation: portrait) {

    .about1-text h1{
        text-align: left;
        font-size: 4em;
        margin-top: 110px;
        margin-left: 10px;
    }

    .about1-text p {
        text-align: left;
        margin-left: 10px;
    }

    #cover {
        background: #222 url("bg.png") center center no-repeat;
        background-size: cover;
        color: white;
        height: 100%;

        text-align: center;
        display: flex;
        align-items: center;
    }

    .navbar-custom .navbar-nav > li > a {
        font-family: "Typo Light";
        font-size:20px;
        color:white;
        text-align: center;
        padding-top: 40px;
    }


    .navbar-custom {
        background-color: transparent;
        color:white;
        border-radius:0;

    }

    #cover img {
        width: 100%;
        height: auto;
        margin-top: 90px;
        margin-left: -20px;
    }

    #touch {
        height: 100%;
        width: 40%;

    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) {

    #cover {
        background: #222 url("bg.png") center center no-repeat;
        background-size: cover;
        color: white;
       height: 100%;
        text-align: center;
        display: flex;
        align-items: center;
    }


    .about1-text h1{
        text-align: left;
        font-size:4em;
        margin-left: 15%;
        margin-top: 120px;
    }

    .about1-text p {
        text-align: left;
        margin-left: 15%;
    }

    #title {
        height:65px;
        width: 65px;

    }



    .navbar-custom .navbar-nav > li > a {
        font-family: "Typo Light";
        font-size:17px;
        color:white;
        text-align: center;
        padding-top: 40px;

    }

    .navbar-custom {
        background-color: transparent;
        color:white;
        border-radius:0;

    }



    #about {
        background-color: white;
        width: 100%;
        height:450px;
    }

    #cover img {
        width: 100%;
        height: auto;
        margin-top: 30px;
    }

    #touch {
        height: 100%;
        width: 300px;
        margin-left: 50%;
    }

}

/* hi-res laptops and desktops */
@media (min-width: 1200px) {

    #cover {
        background: #222 url("bg.png") center center no-repeat;
        background-size: cover;
        color: white;
        height: 900px;
        text-align: center;
        display: flex;
        align-items: center;
    }


    .about1-text h1{
        text-align: left;
        font-size:4em;
        margin-left: 15%;

    }

    .about1-text p {
        text-align: left;
        margin-left: 15%;
    }



    #title {
        height:65px;
        width: 65px;

        position: fixed;
    }

    .navbar-custom .navbar-nav > li > a {
        font-family: "Typo Light";
        font-size:20px;
        color:white;
        text-align: center;
        padding-top: 40px;
    }

    .navbar-custom {
        background-color: transparent;
        color:white;
        border-radius:0;

    }




    #about {
        background-color: white;
        width: 100%;
        height:450px;
    }

    #about5 {
        background-color: white;
        width: 100%;
        height: 550px;
    }

    #cover img {
        width: 100%;
        height: auto;
        margin-top: 30px;
    }


    #touch {
        height: 100%;
        width: 100%;
        margin-left: 50%;
    }

}

.img-responsive {
    display: block;
    margin: 0 auto 0px;
    border-radius: 100%;
    height: 300px;
    width: 300px;
}

.about-text {
    background: rgba(0, 0, 0, .5);
    color:white;
    padding:1.875rem;
}


#Submit {

    transition: background 0.2s linear .2s;
}

#Submit:hover {
    background-color: #9BC2E6;
}

li a.active {
    border-bottom: 2px solid #ecf0f1;
}



footer {
    background-color: #9BC2E6;
    color: white;
    font-family: Typo Light;
    height: 70px;
}

